footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4rem;
    .footer-nav {
        display: grid;
        grid-template-columns: repeat(5,1fr);
        padding: 0.4rem 1rem;
        border-top: 2px solid lightgray;
        .nav-group{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 0.2rem;
            cursor: pointer;
            .icon{
                width: 2rem;
            }
        }
    }
}